.Rproj.user
.Rhistory
.RData
.Ruserdata
book-concordance.tex
book.bbl
book.ilg
book.log
book.pdf
book.synctex.gz
book.tex
book.toc
figure
book.aux
book.blg
book.out
.DS_Store
~$*.xlsx
book.idx
book.ind
fm.log
